@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Playfair Display', serif;
}

@font-face {
  font-family: "Bailenson";
  src: url("/fonts/Bailenson.ttf") format("truetype");
  font-size: 60px; 
  font-weight: 500;
  /* font-style: normal; */
  line-height: 60px;
}

@keyframes float-slow {
  0%, 100% { transform: translateY(0) rotate(10deg); }
  50% { transform: translateY(-15px) rotate(8deg); }
}

@keyframes float-reverse {
  0%, 100% { transform: translateY(0) rotate(-15deg); }
  50% { transform: translateY(15px) rotate(-12deg); }
}

.animate-float-slow {
  animation: float-slow 8s ease-in-out infinite;
}

.animate-float-reverse {
  animation: float-reverse 10s ease-in-out infinite;
}

/* Scrollbar styling khusus untuk Best Wishes */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}


